{% extends "base.html" %}

{% block head %}
<!-- <header class="w3-container w3-center w3-teal"> -->
<!-- 	<h1>Test Perceptif</h1> -->
<!-- </header> -->
{% endblock %}

{% block body %}
<div class="w3-container w3-content w3-margin-top">
	<div class="w3-container w3-card-3 w3-paler-teal">
		<header>
			<h1 class="w3-text-teal"><b>Description du test</b></h1>
		</header>
                <p><b> Au cours de cette étude, il vous sera demandé d'écouter des enregistrements et de sélectionner le son entendu parmi une liste de propositions. La durée totale du test est d'environ 15 à 20 minutes.  </b></p>
                <p><b> Vous pouvez participer à l'étude à condition d'être majeur et que le français soit votre langue maternelle. </b></p>

                <br>
                <p><i> Aucune information sur votre identité ne sera recueillie en dehors de celles explicitement demandées ci-dessous. Vos réponses seront anonymisées et réservées à l'usage exclusif des expérimentateurs. </i></p>
                <p><i>La participation est sur la base du volontariat et peut être stoppée à tout moment. </i></p>
	</div>
	<form class="w3-container w3-card-3 w3-white w3-margin-top" action="/" method="POST" accept-charset="utf-8">
		<header class="w3-center w3-teal">
			<h2><b>Inscription</b></h2>
		</header>

		<p>
		<label for="gender">Sexe:</label>
		<select class="w3-select" name="gender" id="gender" required> 
			<option value="undefined">Non spécifié</option>
			<option value="female">Femme</option>
			<option value="male">Homme</option>
		</select> <br>
		</p>

		<p>
		<label for="age">Age:</label>
		<input class="w3-input" type="number" id="age" name="age" min="18" max="100" step="1" value="" required><br>
		</p>

		<p>
		<label for="name">Pseudonyme: </label>
		<input type="text" value="" name="name" id="name" maxlength=20/>
		</p>
		<br>

		<p>
		<input class="w3-check" type="checkbox" id="french-native" name="french-native" required>
		<label for="french-native"> Le français est ma langue maternelle </label><br>
		</p>

		<p>
		<input class="w3-check" type="checkbox" id="consent" name="consent" required>
		<label for="consent"> <i class="w3-text-teal"><b>Je certifie l'exactitude de ces informations et consens à participer à cette étude. </b></i></label><br>
		</p>

		<p>
		<!-- Prevent implicit submission of the form -->
		<button type="submit" disabled style="display: none" aria-hidden="true"></button>
		<!-- ... -->
		<input class="w3-button w3-section w3-teal w3-ripple" type="submit" value="Valider"/>
		</p>
	</form>
</div>
{% endblock %}
