{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="w3-container w3-content w3-margin-top">
	<form class="w3-container w3-card-3 w3-white w3-margin-top" action="/start" method="POST" accept-charset="utf-8">
		<p> <b> Avant de commencer, veuillez vous assurer d'être dans un environnement calme avec de bonnes conditions d'écoute. <br> (volume fort et clair) </b></p> 
		<p> <i>L'usage d'un casque est recommandé. </i></p>
		<p>
		<input class="w3-button w3-section w3-teal w3-ripple" type="submit" value="Commencer le test"/>
		</p>
	</form>
	</div>
</div>
{% endblock %}
