{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="w3-container w3-content w3-margin-top">
	<form class="w3-container w3-card-3 w3-white w3-margin-top" action="/trial/{{n}}" method="POST" accept-charset="utf-8">
		<header class="w3-center w3-teal">
			<h2><b>Trial {{n}}/{{length}}</b></h2>
		</header>
                <p>
                Ecoutez l'enregistrement ci-dessous autant de fois que nécessaire.
                </p>

		<p>
		<audio controls>
			<source src="{{sound_file}}" type="audio/wav" preload=auto>
			Votre navigateur ne supporte pas l'élément audio
		</audio>
		</p>

                <p>
                Sélectionnez ensuite les deux voyelles les plus proches parmi les propositions suivantes.
                </p>


		<p>
                <div class="row">
                    <div class="column">
                        <h3><b>Principale</b></h3>
                        {% for vowel in vowels %}
                        <input type="radio" id="{{vowel}}" name="answer1" value="{{vowel}}" required>
                        <label for="{{vowel}}">{{vowel}}</label><br>
                        {% endfor %}
                    </div>

                    <div class="column">
                        <h3><b>Alternative</b></h3>
                        {% for vowel in vowels %}
                        <input type="radio" id="{{vowel}}" name="answer2" value="{{vowel}}" required>
                        <label for="{{vowel}}">{{vowel}}</label><br>
                        {% endfor %}
                    </div>
                </div>
		</p>

		<p>
		<!-- Prevent implicit submission of the form -->
		<button type="submit" disabled style="display: none" aria-hidden="true"></button>
		<!-- ... -->
		<input class="w3-button w3-section w3-teal w3-ripple" type="submit" value="Valider"/>
		</p>
	</form>
</div>
{% endblock %}
