{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vowel-radio.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/vowel-buttons.css')}}">
{% endblock %}

{% block body %}
<div class="w3-container w3-content w3-margin-top">
    <div class="w3-container w3-card-3 w3-white w3-margin-top">
        <header class="w3-center w3-teal w3-margin-top">
            <div class="row">
                <div class="header-column">
                    <h6>
                        {% if n > 1 %}
                        <form action="/trial/{{n}}/back" method="POST" accept-charset="utf-8">
                            <button class="w3-button w3-light-grey w3-left-align" type="submit" name="back" value="back">Précédent</button>
                        </form>
                        {% endif %}
                    </h6>
                </div>
                <div class="header-column w3-center">
                    <h2>
                        <b>Test {{n}}/{{length}}</b>
                    </h2>
                </div>
                <div class="header-column"></div>
            </div>
        </header>
        <p>
        Ecoutez le stimulus autant de fois que nécessaire pour sélectionner parmi les voyelles proposées celle qui vous parait la plus <b>plus proche</b>, puis la <b>seconde</b> plus proche. Cliquez sur les voyelles à côté du stimulus pour écouter une référence.
        </p>

        <p>

        <form action="/trial/{{n}}" method="POST" accept-charset="utf-8">

            <input id="listens" type="hidden" name="listens" value="">

            <div class="row">
                <div class="column">
                    <div class="w3-center">
                        <br>
                        <br>
                        Stimulus: 
                        <button type="button" class="vowel-button" onclick="play_stimulus()">
                            ?
                        </button>
                        <input id="listen-count" type="hidden" name="listen_count" value="0">
                        <audio id="synthesis" src="{{sound_file}}">
                    </div>
                </div>

                <div class="column">
                    <div class="vowel-buttons">
                        {% for vowel, vowel_sound in vowels %}
                        <div>
                            <button type="button" class="vowel-button" onclick="play('{{vowel}}_sound')">
                                {{vowel}}
                            </button>
                            <audio id="{{vowel}}_sound" src="{{vowel_sound}}">
                        </div>
                        {% endfor %}
                    </div>
                    <br>
                </div>
            </div>

            </p>

            <p>
            <div class="row">
                <div class="column">
                    <div class="vowel-radio">
                        <h3><b>Plus proche</b></h3>
                        {% for vowel, vowel_sound in vowels %}
                        <div>
                            <input type="radio" id="{{vowel}}_1" name="answer1" value="{{vowel}}" {% if vowel is eq checked1 %} checked="checked" {% endif %} required>
                            <label for="{{vowel}}_1">
                                <span>
                                    {{vowel}}
                                </span>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <br>
                </div>

                <div class="column">
                    <div class="vowel-radio">
                        <h3><b>Seconde</b></h3>
                        {% for vowel, vowel_sound in vowels %}
                        <div>
                            <input type="radio" id="{{vowel}}_2" name="answer2" value="{{vowel}}" {% if vowel is eq checked2 %} checked="checked" {% endif %} required>
                            <label for="{{vowel}}_2">
                                <span>
                                    {{vowel}}
                                </span>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br>
            </p>

            <p>
            <!-- Prevent implicit submission of the form -->
            <button type="submit" disabled style="display: none" aria-hidden="true"></button>
            <!-- ... -->
            <div class="w3-center">
                <input class="w3-button w3-center w3-section w3-teal w3-ripple" type="submit" value="Valider et continuer"/>
            </div>
            </p>

        </form>
    </div>
    <br>
</div>

<script>
    let listen_count = 0;
    let listens = '';

    let listenCounter = document.getElementById('listen-count');
    let listensTracker = document.getElementById('listens');

    function add_listen(text) {
        if (listens != '') {
            listens += ' '
        }
        listens += text;
        listensTracker.value = listens;
    }

    function play(vowel_id) {
        var audio = document.getElementById(vowel_id);
        audio.play();
        let vowel = vowel_id.replace('_sound', '');
        add_listen(vowel);
    }
    
    function play_stimulus() {
        var audio = document.getElementById('synthesis');
        audio.play();
        listen_count++;
        listenCounter.value = listen_count;
        add_listen('?');
    }
</script>

{% endblock %}
