{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vowel-radio.css')}}">
{% endblock %}

{% block body %}
<div class="w3-container w3-content w3-margin-top">
    <div class="w3-container w3-card-3 w3-white w3-margin-top">
        <header class="w3-center w3-teal w3-margin-top">
            <div class="row">
                <div class="header-column">
                    <h6>
                        {% if n > 1 %}
                        <form action="/trial/{{n}}/back" method="POST" accept-charset="utf-8">
                            <button class="w3-button w3-light-grey w3-left-align" type="submit" name="back" value="back">Précédent</button>
                        </form>
                        {% endif %}
                    </h6>
                </div>
                <div class="header-column w3-center">
                    <h2>
                        <b>Test {{n}}/{{length}}</b>
                    </h2>
                </div>
                <div class="header-column"></div>
            </div>
        </header>
        <p>
        Ecoutez l'enregistrement autant de fois que nécessaire pour sélectionner parmi les voyelles proposées celle qui vous parait la plus <b>plus proche</b>, puis la <b>seconde</b> plus proche:
        </p>

        <p>
        <div class="w3-center">
            <audio controls>
                <source src="{{sound_file}}" type="audio/wav" preload=auto>
                Votre navigateur ne supporte pas l'élément audio
            </audio>
        </div>
        </p>

        <p>
        <form action="/trial/{{n}}" method="POST" accept-charset="utf-8">
            <script>
                var feedback = {% if vowel_feedback %} true {% else %} false {% endif %}
                function play(vowel_id) {
                    if (feedback) {
                        var audio = document.getElementById(vowel_id);
                        audio.play();
                    }
                }
            </script>

            <p>
            <div class="w3-center">
                <input class='w3-check' type='checkbox' id='vowel_feedback' name='vowel_feedback' {% if vowel_feedback %} checked='checked' {% endif %} onclick='feedback = !feedback'>
                <label for='vowel_feedback'> Jouer les voyelles de reference </>
            </div>
            </p>

            <div class="row">
                <div class="column">
                    <div class="vowel-radio">
                        <h3><b>Plus proche</b></h3>
                        {% for vowel, vowel_sound in vowels %}
                        <div>
                            <input type="radio" id="{{vowel}}_1" name="answer1" value="{{vowel}}" onclick="play('{{vowel}}_sound')" {% if vowel is eq checked1 %} checked="checked" {% endif %} required>
                            <label for="{{vowel}}_1">
                                <span>
                                    {{vowel}}
                                </span>
                            </label>
                            <audio id="{{vowel}}_sound" src="{{vowel_sound}}">
                        </div>
                        {% endfor %}
                    </div>
                    <br>
                </div>

                <div class="column">
                    <div class="vowel-radio">
                        <h3><b>Seconde</b></h3>
                        {% for vowel, vowel_sound in vowels %}
                        <div>
                            <input type="radio" id="{{vowel}}_2" name="answer2" value="{{vowel}}" onclick="play('{{vowel}}_sound')" {% if vowel is eq checked2 %} checked="checked" {% endif %} required>
                            <label for="{{vowel}}_2">
                                <span>
                                    {{vowel}}
                                </span>
                            </label>
                            <audio id="{{vowel}}_sound" src="{{vowel_sound}}">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br>
        </p>


        <p>
        <!-- Prevent implicit submission of the form -->
        <button type="submit" disabled style="display: none" aria-hidden="true"></button>
        <!-- ... -->
        <div class="w3-center">
            <input class="w3-button w3-center w3-section w3-teal w3-ripple" type="submit" value="Valider et continuer"/>
        </div>
        </p>
        </form>
    </div>
    <br>
</div>
{% endblock %}
